.domain {
  width: 600px;
  text-transform: uppercase;
}

.domain-input {
  color: white;
  background-color: black;
  border-bottom: 1px solid white !important;
  font-size: 24px;
  width: 80%;
  text-transform: uppercase;
}

input,
input:focus {
  outline: none;
  border: none;
}

.url-text {
  font-size: 24px;
  margin-top: 20px;
}

.domain-link {
  color: blue;
}

.domain-link:hover {
  color: white;
  cursor: pointer;
}

.dropdown-arrow {
  border: solid yellow;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width:10px;
  height:10px;
  left: 8px;
  top: 35px;
  cursor: pointer;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-item {
  cursor: pointer;
  color: white;
  border-radius: 2px;
}

.dropdown-item:hover {
  background: white;
  color: black;
} 