.domain {
  width: 600px;
  text-transform: uppercase;
}

.domain-input {
  color: white;
  background-color: black;
  border-bottom: 1px solid white !important;
  font-size: 24px;
  width: 80%;
  text-transform: uppercase;
}

input,
input:focus {
  outline: none;
  border: none;
}

.url-text {
  font-size: 24px;
  margin-top: 20px;
}
