.instruction {
  font-size: 36px;
  text-transform: uppercase;
}

.main-button {
  border: 1px solid yellow;
  color: yellow;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  width: 50%;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 170px;
}

.main-button:hover {
  background-color: white;
  color: black;
}
