.App {
  min-height: 100vh;
  color: white;
  background-color: black;
  font-family: 'Exo', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 15s ease;
  height: 40px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  width: 800px;
}